      <!-- -----Front end code HTML5 & CSS3----- -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="cls">
        <form action="{{ url_for('predict') }}" method='post' id="formm" >
            <h2 id="main_h"><ul>Old Bikes Price Prediction 😊</ul></h2><br><br>
            <p id="par" ><b>select your bike</b></p>

                        <select name="brand_name" id="fifth" required="required">
                            <option value="Royal Enfield" >Royal Enfield</option>
                            <option value="KTM">KTM</option>
                            <option value="Bajaj">Bajaj</option>
                            <option value="Harley">Harley-Davidson</option>
                            <option value="Yamaha">Yamaha</option>
                            <option value="Honda">Honda</option>
                            <option value="Suzuki">Suzuki</option>
                            <option value="TVS">TVS</option>
                            <option value="Kawasaki">Kawasaki</option>
                            <option value="Hyosung">Hyosung</option>
                            <option value="Benelli">Benelli</option>
                            <option value="Mahindra">Mahindra</option>
                            <option value="Triumph">Triumph</option>
                            <option value="Ducati">Ducati</option>
                            <option value="BMW">BMW</option>
                        </select><br><br>
                        <p id="par"><b>What kms.. driven bike</b></p>

                        <input  name="Kms_Driven" type="number " id="first" required="required"><br><br>
                        <p id="par"><b>How many owner used this bike</b></p>
                        <input  name="owner" type="number" id="second" required="required"><br><br>
                        <p id="par"><b>how many years used this bike</b></p>
                        <input type="number" name="age" id="third" required="required"><br><br>
                        <p id="par"><b>what the power of bike or CC power</b></p>
                        <input type="number" name="power"  id="forth" required="required"><br><br>
                        <button type="submit" id="btn" >CLICK ME</button>
                        
                        <br>
                        <br>
                        <h3 id="pred">Bike 🏍 price will be around 👉 {{ prediction_text }}<h3>
                
                    </form>
                    <br>
                    <a href="https://github.com/Ranjit-Singh-786/old_bike_pricePrediction" ><button id="src">Get the Source code.</button></a>
                    

                

            </div> 

</body>
</html>